## Pandas教程
> Pandas是数据分析中一个重要的包<br />
> Pandas是基于Numpy创建的Python库，为Python提供了方便的数据结构和数据分析的方法

In [2]:
# 引入Pandas包
import pandas as pd

#### 一、Pandas 数据类型

In [3]:
# Creating Series       创建 序列（一维数组）
s = pd.Series([1,2,3,4], index=['A', 'B', 'C', 'D'])
s

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
# Creating DataFrame        创建 数据框
df = pd.DataFrame(              # "A"、"B"、"C"是列名
    {
        "A":[11,22,33],
        "B":[44,55,66],
        "C":[77,88,99]
    },
    index=[1,2,3]
)
df

    A   B   C
1  11  44  77
2  22  55  88
3  33  66  99

In [3]:
# Special value for each column(index)
# 为每一行设置自定义的索引名
df = pd.DataFrame(
    {
        "A":[11,22,33],
        "B":[44,55,66],
        "C":[77,88,99]
    },
    index=[1,2,3]
)
df

    A   B   C
1  11  44  77
2  22  55  88
3  33  66  99

In [4]:
# Special value for each column(index)
# 为每一列设置自定义的列名
df = pd.DataFrame(
        [[11,22,33],
        [44,55,66],
        [77,88,99]],
    index=[1,2,3],
    columns=['A', 'B', 'C']
)
df

    A   B   C
1  11  22  33
2  44  55  66
3  77  88  99

#### 二、获取帮助

In [ ]:
help(pd.Series.loc)

#### 三、选择

##### 3.1 取值

In [8]:
# 取序列(Series)值
s['A']

1

In [9]:
# 取数据框(DataFrame)的子集
df[1:]

    A   B   C
2  22  55  88
3  33  66  99